In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import numpy as np
# Import the API key.
from config import g_key

In [3]:
# school_data_to_load = "Resources/schools_complete.csv"
city_data_df = "WeatherPy_Challenge.csv"

In [4]:
# school_data_df = pd.read_csv(school_data_to_load)
#school_data_df
city_info_df = pd.read_csv("WeatherPy_Challenge.csv")

In [5]:
city_info_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,Cape Town,ZA,2020-05-01 23:11:43,-33.93,18.42,51.80,100,47,1.12,fog,0,0
1,1,Bengkulu,ID,2020-05-01 23:11:43,-3.80,102.27,77.22,85,100,10.07,overcast clouds,0,0
2,2,Kapaa,US,2020-05-01 23:11:43,22.08,-159.32,78.80,74,75,20.80,broken clouds,0,0
3,3,Ribeira Grande,PT,2020-05-01 23:11:43,38.52,-28.70,62.89,77,47,28.21,light rain,0,0
4,4,Yellowknife,CA,2020-05-01 23:11:39,62.46,-114.35,37.40,64,75,2.24,broken clouds,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,561,Agadez,NE,2020-05-01 23:13:53,19.75,10.25,85.60,12,21,16.24,few clouds,0,0
562,562,Rodionovo-Nesvetayskaya,RU,2020-05-01 23:13:54,47.61,39.71,52.00,66,0,2.80,clear sky,0,0
563,563,Nawa,IN,2020-05-01 23:13:54,27.02,75.00,87.26,19,0,18.79,clear sky,0,0
564,564,Raudeberg,NO,2020-05-01 23:13:54,61.99,5.14,41.00,93,100,5.12,light rain,0,0
565,565,Padang,ID,2020-05-01 23:13:55,-0.95,100.35,77.59,76,100,6.67,overcast clouds,0,0

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_info_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Get the rain amount.
rain = city_info_df["Rain inches (last 3 hrs)"]
inches = []
for inch in rain:
    inches.append(min(inch, 0))

In [9]:
# Get the snow amount
snow = city_info_df["Snow inches (last 3 hrs)"]
inches = []
for inch in snow:
    inches.append(min(inch, 0))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
rain = input("Do you want it to rain?(yes/no)")
snow = input("Do you want it snow?(yes/no)")

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 80
Do you want it to rain?(yes/no)no
Do you want it snow?(yes/no)no

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_info_df.loc[(city_info_df["Max Temp"] <= max_temp) & \
                                       (city_info_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
1,1,Bengkulu,ID,2020-05-01 23:11:43,-3.80,102.27,77.22,85,100,10.07,overcast clouds,0,0
2,2,Kapaa,US,2020-05-01 23:11:43,22.08,-159.32,78.80,74,75,20.80,broken clouds,0,0
3,3,Ribeira Grande,PT,2020-05-01 23:11:43,38.52,-28.70,62.89,77,47,28.21,light rain,0,0
5,5,Mahanoro,MG,2020-05-01 23:11:45,-19.90,48.80,70.90,87,16,3.71,few clouds,0,0
8,8,Castro,BR,2020-05-01 23:11:45,-24.79,-50.01,61.18,67,100,2.44,overcast clouds,0,0
12,12,Hilo,US,2020-05-01 23:11:46,19.73,-155.09,79.00,69,90,9.17,light rain,0,0
14,14,Vao,NC,2020-05-01 23:11:46,-22.67,167.48,76.60,81,0,17.72,clear sky,0,0
16,16,Tsuruga,JP,2020-05-01 23:11:47,35.65,136.06,66.00,80,0,1.99,clear sky,0,0
21,21,Port Alfred,ZA,2020-05-01 23:11:48,-33.59,26.89,64.00,88,76,5.01,broken clouds,0,0
27,27,Rikitea,PF,2020-05-01 23:11:50,-23.12,-134.97,79.38,83,100,17.92,light rain,0,0

In [12]:
preferred_cities_df.count()

City_ID                     240
City                        240
Country                     234
Date                        240
Lat                         240
Lng                         240
Max Temp                    240
Humidity                    240
Cloudiness                  240
Wind Speed                  240
Current Description         240
Rain inches (last 3 hrs)    240
Snow inches (last 3 hrs)    240
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

             City Country  Max Temp    Lat     Lng Hotel Name
1        Bengkulu      ID     77.22  -3.80  102.27
2           Kapaa      US     78.80  22.08 -159.32
3  Ribeira Grande      PT     62.89  38.52  -28.70
5        Mahanoro      MG     70.90 -19.90   48.80
8          Castro      BR     61.18 -24.79  -50.01

In [14]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Bengkulu,ID,77.22,-3.80,102.27,Grage Hotel Bengkulu
2,Kapaa,US,78.80,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
3,Ribeira Grande,PT,62.89,38.52,-28.70,Quinta da Meia Eira
5,Mahanoro,MG,70.90,-19.90,48.80,HÃ´tel Mon DÃ©sir
8,Castro,BR,61.18,-24.79,-50.01,CHACARA BAILLY
12,Hilo,US,79.00,19.73,-155.09,Hilo Hawaiian Hotel
14,Vao,NC,76.60,-22.67,167.48,Hotel Kou-Bugny
16,Tsuruga,JP,66.00,35.65,136.06,New Sunpia Tsuruga
21,Port Alfred,ZA,64.00,-33.59,26.89,The Halyards Hotel
27,Rikitea,PF,79.38,-23.12,-134.97,Pension Maro'i

In [17]:
# Add pop up markers
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [18]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
cities = hotel_df["City"]
country = hotel_df["Country"]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
hotel_final_df = pd.DataFrame(hotel_df)
hotel_final_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Bengkulu,ID,77.22,-3.80,102.27,Grage Hotel Bengkulu
2,Kapaa,US,78.80,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
3,Ribeira Grande,PT,62.89,38.52,-28.70,Quinta da Meia Eira
5,Mahanoro,MG,70.90,-19.90,48.80,HÃ´tel Mon DÃ©sir
8,Castro,BR,61.18,-24.79,-50.01,CHACARA BAILLY

In [22]:
#Save new DataFrame as a CSV file- WeatherPy_Challenge.csv 
output_data_file = "WeatherPy_vacation.csv"
# Export the City_Data into a CSV.)
hotel_final_df.to_csv(output_data_file, index_label="City_ID")